 body {
     background-image: url(https://media1.tenor.com/images/8e46150f790fbefe438d9c2767c32ad1/tenor.gif?itemid=15673753);
     padding: 10px;
     font-family: arial;
     color: rgb(255, 255, 255);
 }
 #all-contents {
     max-width: 800px;
     margin: auto;
 }

 /* navigation menu */

 nav {
     margin: 0 auto;
     display: flex;
     padding: 10px;
 }
 nav ul {
     list-style-image: none;
 }

 nav li {
     display: inline-block;
     padding: 0 10px;
 }

 nav a {
     text-decoration: none;
     color: rgb(255, 255, 255);
 }

 #projects {
  color: rgb(255, 255, 255);
 }

 /* main container area beneath menu */

 main {
     background: rgb(0, 0, 0);
     display: flex;
 }

 .content {
     flex: 1;
     padding: 15px;
 }
